/* static/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(193, 193, 193);
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 20px auto;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 30px 40px; /* Adjust the padding to increase button size */
    font-size: 24px;   /* Adjust the font size if needed */
}

/* Add hover effect for buttons */
button:hover {
    background-color: lightgreen; /* Adjust the desired green color */
}

/* New styles for horizontally aligning similar shirts */
.shirt {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; /* Add cursor style for better user feedback */
}


.shirt.bluescaled {
    background-color: rgb(128, 201, 225);
}

.similar-shirts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.similar-shirt {
    width: 30%; /* Adjust the width as needed */
    margin: 10px;
    text-align: center;
}
