<!-- recommend.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendations Page</title>
</head>
<body style="background-color: white;">
    <form action="{{ url_for('go_to_cnn') }}" method="get">
        <button type="submit">Back</button>
    </form>

    <form action="{{ url_for('get_centroid') }}" method="post">
        <button id="continue-button" style="display: none;" onclick="get_centroid()">Continue</button>
    </form>


    <h1>Welcome to the Shopping Recommendations Page</h1>
    <h2>Choose 3 shirts you like</h2>
    <div id="shirt-container" class="shirt-container">
        {% for shirt in prompt_shirts %}
            <div class="shirt" onclick="toggleBluescale(this, '{{ shirt.name }}', '{{ shirt.image }}', '{{ shirt.embeddings }}')">
                <h2>{{ shirt['name'] }}</h2>
                <img src="{{ shirt['image'] }}" alt="Shirt Image" class="shirt-image">
            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
